.body {
  h2,
  h3 {
    @apply relative;

    &::before {
      @apply absolute text-gray-300 print:hidden;
    }
  }

  h2 {
    @apply border-b-4 border-black border-solid;

    &::before {
      content: "## ";
      left: -1.5em;
    }
  }

  h3 {
    @apply border-b-2 border-black border-solid;

    &::before {
      @apply font-bold;

      content: "### ";
      left: -2.15em;
    }
  }
}

.label {
  @apply font-bold uppercase;

  letter-spacing: 0.1em;
}

.groups {
  @apply grid grid-cols-1 xs:grid-cols-3 gap-x-2 mb-4;

  .label {
    @apply text-left xs:text-right;
  }
}

.item {
  h3 {
    @apply mb-0 flex-wrap md:flex-nowrap flex flex-row;

    .label {
      @apply w-full md:w-auto;
    }

    .location {
      &::before {
        @apply hidden md:inline;

        content: ", ";
      }
    }

    .date {
      @apply flex-1 text-right italic whitespace-nowrap;
    }
  }

  .position,
  .degree {
    @apply font-bold text-lg;

    .detail {
      @apply font-normal italic;
    }
  }

  .position {
    .detail {
      @apply ml-1;

      &::before {
        content: "(";
      }
      &::after {
        content: ")";
      }
    }
  }

  .degree {
    .detail::before {
      content: ", ";
    }
  }
}
