@layer base {
  p,
  ul,
  h1,
  h2,
  h3,
  h4 {
    @apply mb-4;
  }

  h1 {
    @apply font-bold;

    &::before {
      @apply opacity-50 print:hidden;

      content: "# ";
      // margin-left: -1.2em;
    }
  }

  h2 {
    @apply relative font-bold;

    &::before {
      @apply absolute text-gray-300 print:hidden;

      content: "## ";
      left: -1.5em;
    }
  }

  h3 {
    @apply relative;

    &::before {
      @apply absolute font-bold text-gray-300 print:hidden;

      content: "### ";
      left: -2.15em;
    }
  }

  code {
    @apply font-mono text-sm leading-none px-2 pt-0.5 pb-1 rounded-sm text-gray-700 bg-gray-200;
  }

  pre {
    @apply font-mono leading-snug;
  }

  ul {
    @apply pl-4 list-disc list-outside;

    li {
      @apply ml-4;
    }
  }
}

@layer utilities {
  // Responsive Square
  // NOTE: _has_ to have a child `.content`!
  // see https://spin.atomicobject.com/2015/07/14/css-responsive-square/
  .square {
    position: relative;
    width: 100%;

    &::after {
      content: " ";
      display: block;
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .no-break-after {
    break-after: avoid;
  }

  .no-break-inside {
    break-inside: avoid;
  }
}
