@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p,
  ul,
  h1,
  h2,
  h3,
  h4 {
    @apply mb-4;
  }

  code {
    @apply font-mono text-sm leading-none px-2 pt-0.5 pb-1 rounded-sm text-gray-700 bg-gray-200;
  }

  pre {
    @apply font-mono leading-snug;
  }

  ul {
    @apply pl-4 list-disc list-outside;

    li {
      @apply ml-4;
    }
  }
}

@layer utilities {
  // Responsive Square
  // NOTE: _has_ to have a child `.content`!
  // see https://spin.atomicobject.com/2015/07/14/css-responsive-square/
  .square {
    position: relative;
    width: 100%;

    &::after {
      content: " ";
      display: block;
      padding-bottom: 100%;
    }

    .content {
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .no-break-after {
    break-after: avoid;
  }

  .no-break-inside {
    break-inside: avoid;
  }

  .separator {
    @apply mx-2 text-gray-300;
  }
}
